{% extends 'base.html' %}
{% block title %}All Animals{% endblock %}

{% block body %}
  <h1>Create User</h1>
  <head>
    <img src="/static/images/lab2.jpg" >
    <style>
        img {height: 400px;
          width: 1500px;
          object-fit: cover;}
    </style>
  
  </head>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
    
  </form>
  <style> form {
    font-weight: bold;
    font-family: font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 15px;
    padding: 10px;
  }
  
{% endblock %}